<section id="story" style="background:var(--cream)">
    <div class="wrap story">
        <h2 class="section-title fade">Why I Built This</h2>
        <p class="fade">I'm Zoha. I'm a software engineer, and I'm new to art.</p>
        <p class="fade">I grew up not going to museums. My family had a different way of life and
            art just wasn't part of the picture.</p>
        <p class="fade">The first time I went to a museum was a school trip when I was 13 or 14. I
            didn't get it.</p>
        <p class="fade">Years later, things changed. I found myself in new circles, surrounded by
            people who grew up with art, who had a different kind of cultural background, and they
            invited me to enjoy art with them. I'm one of the first in my family to have the space
            to explore things like this. I know it's a process. I know my relationship with art will
            always be different from someone who grew up with it. That's OK. I'm taking it one day
            at a time.'.</p>
        <p class="fade">There is real value in expanding your horizons. Even if it feels awkward at
            first and you feel like an imposter. Even if you start going to museums just to look
            cooler. That's a valid first step. Maybe one day, one piece will touch you the way one
            touched me.</p>
        <p class="fade">This is a personal project. I don't know exactly where it's going. For now,
            I'm building something I like.</p>
    </div>
</section>
