<section class="vision" id="vision">
    <div class="wrap">
        <h2 class="section-title fade">Art Belongs to Everyone</h2>
        <p class="fade">Palette is free. I want to keep it that way.</p>
        <p class="fade">I believe technology can help make art accessible to more people. I'd love
            to help.</p>
        <p class="fade">I'm a software engineer and I used AI as a development tool to build this.
            I'm transparent about that. I have my own boundaries about where AI helps and where it
            doesn't.</p>
        <p class="fade">Like The logo. I made it in Canva instead of using AI for it. I use it as a
            tool but do rely on my own experience and expertise as a software engineer.</p>
        <p class="fade">I think human art is more precious than ever, now that AI can generate
            images in seconds. The works in these museums are irreplaceable. Art also goes fay
            further than museums, I'm just trying to do what I can at my level for now.</p>
    </div>
</section>
